pandas
setuptools
setuptools_scm
importlib-resources
importlib_metadata
ipykernel
numpy~=1.19.2
matplotlib>=3.3.1
cantools>=32.20.1
libusb1>=1.7.1
pyserial>=3.4
seaborn>=0.9.0
ipython
bitstring>=3.1.6
gmplot
gmaps
python-dotenv
bokeh
selenium
webdriver_manager
vin_parser
tensorflow>=2.2.1
ffmpeg-python
plotly==4.12.0
kaleido
urllib3==1.24.2
yolk3k
scikit-learn
scipy>=1.6.1
