pandas
setuptools
setuptools_scm
importlib-resources
Sphinx==3.2.1
rinohtype
importlib_metadata
ipykernel
numpy
matplotlib==3.3.1
cantools>=32.20.1
libusb1>=1.7.1
pyserial>=3.4
seaborn>=0.9.0
ipython
bitstring>=3.1.6
sphinx_rtd_theme
sphinx_autodoc_typehints==1.4.0
typing_extensions
recommonmark
pathlib
mkdocs
sphinx_bootstrap_theme
sphinx-markdown-parser
pymdown-extensions
m2r2
ytsphinx
gmplot
gmaps
googlemaps
python-dotenv
bokeh
selenium
webdriver_manager
vin_parser
tensorflow>=2.2.1
sphinxcontrib-fulltoc
nbsphinx
pandoc
pandocfilters
ffmpeg-python
plotly==4.12.0
kaleido
urllib3==1.24.2
yolk3k
scikit-learn
scipy>=1.6.1
