pandas
setuptools
setuptools_scm
importlib-resources
importlib_metadata
numpy~=1.19.2
cantools>=32.20.1
libusb1>=1.7.1
pyserial>=3.4
bitstring>=3.1.6
python-dotenv
vin_parser
ffmpeg-python
urllib3==1.24.2
yolk3k
